<!-- templates/enter_code.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Enter Password</h1>
        <form action="{{ url_for('onboarding.submit_password') }}" method="post">
                <label for="password">Enter your Telegram password:</label>
                <input type="text" id="password" name="password" placeholder="{{ _('Password') }}" required class="input-field">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="submit" value="Submit" class="btn-continue">
        </form>
        <div class="language-switcher">
            <a href="{{ url_for('set_language', lang='en') }}">English</a> |
            <a href="{{ url_for('set_language', lang='ru') }}">Русский</a>
        </div>
    </div>
</body>
</html>
